html
	head
		link(href='./css/style.css', rel='stylesheet')
		link(href='./css/bootstrap.css', rel='stylesheet')
		script(src="./js/compilacion.js")

	body
		div(id="containerk")
		script say_hi()
		button(id="btn1",class="btn-nav") pulsame!!

			
